[2016-02-10 19:28] heyitsolivia opened #1 "Identify components from wireframes"
Here are some components we identified in a component/pattern inventory exercise on 2/9/15:
We should go through to label and name each of these (along with their variations) for clarity.

![slack for ios upload](https://cloud.githubusercontent.com/assets/1198350/12958960/3c829d30-d002-11e5-8244-5b587f293be7.jpg)

[2016-02-10 19:30] alxmrtnz opened #2 "Wireframes"
Feb 9, 2016
Documenting a bit of our wireframing process: The internal team cut apart our first round of wireframes to determine which components to keep, cut, and reuse across the sites' various pages.

![screen shot 2016-02-10 at 2 53 27 pm](https://cloud.githubusercontent.com/assets/1167326/12959779/0d935934-d006-11e5-8d68-56e887937e95.png)

![image](https://cloud.githubusercontent.com/assets/1

[2016-02-10 19:49] alxmrtnz commented on #2
Round 1 Wireframes presented by ISL to WLA on Feb. 10, 2016

Invision project link for the wireframes:
https://invis.io/495Z2EAEC

# **Homepage**

![1 wla-homepage](https://cloud.githubusercontent.com/assets/1167326/12958964/44dc5d7c-d002-11e5-9fac-f48ae948b41c.jpg)

# **About Overview**

![2 wla-about](https://cloud.githubusercontent.com/assets/1167326/12958981/5ac00a76-d002-11e5-9e73-d84ecc42cac

[2016-02-16 17:59] alxmrtnz commented on #1
Hey @heyitsolivia, I've put together an initial sheet of components that are to be used across our template pages. I left out things like the content block, news components, contact form, and other elements that are unique to specific pages.

I also made note of components that may have some variation in terms of showing/hiding parts or changing alignment of content.

Let me know what you think.

[2016-02-16 18:02] alxmrtnz commented on #2
@heyitsolivia

I've put together updated wireframes and templates in this Dropbox folder:
https://www.dropbox.com/sh/yflrx5fk0iu0m1c/AADVpXz00CRcFlfM_mHK_ppya?dl=0

3 folders in there:
1) Component Sheet

2) Templates
 I put together 5 templates that can be used for the various inner content pages.

3) Wireframed Pages
What I did here was 2 things. First, I include any unique pages that don't fall

[2016-02-16 19:30] heyitsolivia commented on #1
@alxmrtnz This is looking really good so far, and the variations for each block is also helpful.

Let's also add in all the other components that we'll be using like the content block and other unique blocks— that'll allow us to see how much we'll actually need to design and build out.

Going forward, we should make an issue for each component to keep track of handoff and progress.

[2016-02-17 06:37] heyitsolivia commented on #2
@alxmrtnz I think overall these are looking good, and the templates make sense to me :+1:
For the component sheet, see my comment in #1

[2016-02-17 15:36] alxmrtnz commented on #1
@heyitsolivia I've added all other components to the component sheet

![component sheet 2-17-16](https://cloud.githubusercontent.com/assets/1167326/13114616/3b5c97b6-d562-11e5-9db0-599c92c21758.jpg)

[2016-02-17 16:03] alxmrtnz commented on #2
@heyitsolivia @awarehouse

I've put the updated wireframes into Invision if you would like to check them out there as well:
https://invis.io/3Y62LVW2U

[2016-02-17 21:18] awarehouse commented on #2
@alxmrtnz I just looked through the invision link and I saw the changes that you made. I think these templates make a lot of sense, but I had 2 edits / questions. Let me know if you run into any questions.

[2016-02-22 19:55] alxmrtnz opened #3 "Component - Alert Bar"
## Wireframe
![screen shot 2016-02-22 at 2 55 24 pm](https://cloud.githubusercontent.com/assets/1167326/13230684/5878af7c-d974-11e5-9d2b-10a79980c9e1.png)

## Appears in
Home
https://invis.io/495Z2EAEC

[2016-02-22 19:56] alxmrtnz opened #4 "Component - Navigation"
### Wireframe
![screen shot 2016-02-22 at 2 56 33 pm](https://cloud.githubusercontent.com/assets/1167326/13230722/79725dae-d974-11e5-8a2b-38c9dcd43034.png)

### Design Comp
#### Desktop
![wla-component-navigation-desktop1-3-2-16](https://cloud.githubusercontent.com/assets/1167326/13861067/ba6b3880-ec61-11e5-975f-b77c2145f445.jpg)

Hover States
Example hover style [here](http://tympanus.net/Develop

[2016-02-22 19:57] alxmrtnz opened #5 "Component - Secondary Navigation (About Sections)"
Wireframe

![screen shot 2016-02-22 at 2 57 01 pm](https://cloud.githubusercontent.com/assets/1167326/13230742/8a1699d6-d974-11e5-80e0-02b926114e66.png)

[2016-02-22 20:00] alxmrtnz opened #6 "Component - Footer"
# Wireframe

*note: I think we should consider adding navigation links to this footer

![screen shot 2016-02-22 at 3 00 22 pm](https://cloud.githubusercontent.com/assets/1167326/13230846/03e6473e-d975-11e5-9f2c-342499b93bc5.png)

# Design

### Desktop
![wla-component-footer-desktop1](https://cloud.githubusercontent.com/assets/1167326/13860968/4fd4327e-ec61-11e5-959a-0387a94f9330.jpg)

### Desktop

[2016-02-22 20:01] alxmrtnz opened #7 "Component - Homepage Hero"
# Wireframe

![screen shot 2016-02-22 at 3 00 54 pm](https://cloud.githubusercontent.com/assets/1167326/13230855/14df95c2-d975-11e5-9f71-11e5f986fd38.png)

# Visual Design

## Desktop
![wla-component-homepage-hero-desktop1-3-18-16](https://cloud.githubusercontent.com/assets/1167326/13938040/429e5930-efa0-11e5-95a3-7bb727e01dab.jpg)

![wla-component-homepage-hero-desktop2-3-21-16](https://cloud.git

[2016-02-22 20:02] alxmrtnz opened #8 "Component - Inner Page Hero"
# Wireframe

![screen shot 2016-02-22 at 3 02 22 pm](https://cloud.githubusercontent.com/assets/1167326/13230897/4bfed05e-d975-11e5-9c11-8b08d7fcc304.png)

# Visual Design

## Desktop
![wla-component-inner-hero-desktop1-3-2-16](https://cloud.githubusercontent.com/assets/1167326/13939065/bac4057a-efa7-11e5-8dd7-8052d422e79c.jpg)

![wla-component-inner-hero-desktop3-3-17-16](https://cloud.githubuser

[2016-02-22 20:03] alxmrtnz opened #9 "Component - News Article Hero"
## Wireframe

![screen shot 2016-02-22 at 3 03 05 pm](https://cloud.githubusercontent.com/assets/1167326/13230921/66620056-d975-11e5-920b-679a2d58cd90.png)

## Visual Design
<img width="1440" alt="news-article-hero" src="https://cloud.githubusercontent.com/assets/14925396/14466116/74db69ce-00a3-11e6-9ecf-3714059abc48.png">

## Appears in
About > News > News article
https://invis.io/VT63IHQ67

[2016-02-22 20:03] alxmrtnz opened #10 "Component - News Article Cards"
## Wireframe

![screen shot 2016-02-22 at 3 03 39 pm](https://cloud.githubusercontent.com/assets/1167326/13230939/798c76a2-d975-11e5-9816-e74d08bf8237.png)

## Appears in
About > News
https://invis.io/9X6FZESC4

[2016-02-22 20:04] alxmrtnz opened #11 "Component - Pagination"
# Wireframe

![screen shot 2016-02-22 at 3 04 11 pm](https://cloud.githubusercontent.com/assets/1167326/13230964/8e64defc-d975-11e5-9116-455d10c89bf4.png)

# Appears in
About > News
https://invis.io/9X6FZESC4

[2016-02-22 20:05] alxmrtnz opened #12 "Component - Single News Article Navigation"
## Wireframe

![screen shot 2016-02-22 at 3 04 33 pm](https://cloud.githubusercontent.com/assets/1167326/13230980/a4268ace-d975-11e5-8e31-84132890f5db.png)

## Appears in:
About > News > News Article
https://invis.io/VT63IHQ67

[2016-02-22 20:05] alxmrtnz opened #13 "Component - Employees Block"
## Wireframes

![screen shot 2016-02-22 at 3 05 23 pm](https://cloud.githubusercontent.com/assets/1167326/13230989/b5c044e6-d975-11e5-95d2-8ea43722a22d.png)

## Visual Design
### Mobile
![wla-team-small1-4-12-16](https://cloud.githubusercontent.com/assets/1167326/14472642/13da114c-00c2-11e6-9a73-fbf0353e5943.jpg)

### Tablet
![wla-team-medium1-4-12-16](https://cloud.githubusercontent.com/assets/11

[2016-02-22 20:05] alxmrtnz opened #14 "Component - Summary Block"
# Wireframe

![screen shot 2016-02-22 at 3 05 50 pm](https://cloud.githubusercontent.com/assets/1167326/13231010/c69a37d6-d975-11e5-927a-1c04797be168.png)

# Visual Design
![wla-component-summary-block-desktop1-3-23-16](https://cloud.githubusercontent.com/assets/1167326/14000819/569da592-f119-11e5-9f92-1cfc6ac4b9df.jpg)

# Notes
## Character Count
![character count wla-component-summary-block-desk

[2016-02-22 20:07] alxmrtnz opened #15 "Component - Media Highlights"
# Wireframe

![screen shot 2016-02-22 at 3 07 00 pm](https://cloud.githubusercontent.com/assets/1167326/13231059/f98f536a-d975-11e5-9613-c16b001ffa44.png)

# Visual Design

## Desktop (3-21-16)
![wla-component-media-highlights-desktop1-3-21-16](https://cloud.githubusercontent.com/assets/1167326/13938410/ffe05c0c-efa3-11e5-89a5-92c5ff8079e2.jpg)

## Tablet (3-21-16)
![wla-component-media-highlights

[2016-02-22 20:07] alxmrtnz opened #16 "Component: Callout - Image Highlights"
# Wireframe

![screen shot 2016-02-22 at 3 07 41 pm](https://cloud.githubusercontent.com/assets/1167326/13231072/0888c464-d976-11e5-8966-65384d7e3866.png)

# Visual Design
## Desktop
![wla-component-callout-three-column-desktop1-3-29-16](https://cloud.githubusercontent.com/assets/1167326/14219421/37649990-f828-11e5-8bd2-62abf9c42508.jpg)

## Tablet
![wla-component-callout-three-column-tablet-3-29-

[2016-02-22 20:08] alxmrtnz opened #17 "Component: Callout - Text Highlights"
# Wireframes

![screen shot 2016-02-22 at 3 08 11 pm](https://cloud.githubusercontent.com/assets/1167326/13231086/1ff25e8a-d976-11e5-8ee5-a48ccb0144ce.png)

# Visual Design
## Desktop
![wla-component-callout-text-highlights-desktop1-4-1-16](https://cloud.githubusercontent.com/assets/1167326/14219293/8a2f6aca-f827-11e5-9a2d-3a180c0acf44.jpg)

## Tablet
![wla-component-callout-text-highlights-tablet

[2016-02-22 20:09] alxmrtnz opened #18 "Component - Image Gallery"
Wireframes

![screen shot 2016-02-22 at 3 09 27 pm](https://cloud.githubusercontent.com/assets/1167326/13231124/47b715f0-d976-11e5-9d5a-f30ff01885e6.png)

[2016-02-22 20:10] alxmrtnz opened #19 "Component - CTA Block"
## Wireframes
![image](https://cloud.githubusercontent.com/assets/16227787/13848136/df59b51c-ec26-11e5-9091-cd0cce0f799c.png)

## Visual Design
### Desktop
![wla-component-cta-desktop1-3-21-16](https://cloud.githubusercontent.com/assets/1167326/13938837/e4dae57e-efa5-11e5-8dfa-b5e338773afb.jpg)

## Tablet
![wla-component-cta-tablet1-3-21-16](https://cloud.githubusercontent.com/assets/1167326/13938

[2016-02-22 20:10] alxmrtnz opened #20 "Component: Callout - Single Feature"
# Wireframes

![screen shot 2016-02-22 at 3 10 30 pm](https://cloud.githubusercontent.com/assets/1167326/13231158/769a04b8-d976-11e5-89d7-7696a418d273.png)

# Visual Design
## Desktop
![wla-component-feature-callout-desktop1-3-29-16](https://cloud.githubusercontent.com/assets/1167326/14116404/936447fe-f5ad-11e5-9376-69f7d790ce50.jpg)

## Tablet
![wla-component-feature-callout-tablet1-3-29-16](http

[2016-02-22 20:12] alxmrtnz opened #21 "Component - Featured Event"
## Wireframes

![screen shot 2016-02-22 at 3 12 19 pm](https://cloud.githubusercontent.com/assets/1167326/13231201/b1ac3c6a-d976-11e5-9484-50f5b5c77c36.png)

## Appears in
Events
https://invis.io/4H63IJSQU

[2016-02-23 03:57] heyitsolivia commented on #3
Something to keep in mind when you're designing this, the Squarespace CMS likely won't allow us to do that floating link on the right.

It takes a single line of text that can be bolded, italicized, and/or linked.

[2016-02-29 21:09] heyitsolivia commented on #4
**Visual design needed for the following states**
- [x] Nav component for small screens
- [x] Nav component for large screens
- [x] Navigation links — hover/active/focus states

[2016-02-29 21:20] heyitsolivia commented on #6
**Visual design needed for the following states**
- [x] Footer component for small screens
- [x] Footer component for large screens
- [x] Hover states for icons (optional?)

[2016-02-29 21:22] heyitsolivia commented on #7
**Visual design needed for the following states**
- [x] Hero component for small screens
- [x] Hero component for large screens
- [x] Call to action button — hover/active/focus states

[2016-02-29 21:28] heyitsolivia commented on #5
**Visual design needed for the following states**
- [ ] Secondary nav on small screens
- [x] Secondary nav on large screens

[2016-02-29 21:49] heyitsolivia opened #22 "Set up base squarespace template"
A first pass at  header, content, and footer regions

- [x] Header
- [x] Content
- [x] Footer

[2016-03-01 18:37] alxmrtnz opened #23 "Process Documentation - Initial Site"
![1 home](https://cloud.githubusercontent.com/assets/1167326/13437521/ab19805a-dfb2-11e5-9308-3b7931d406bd.png)
![2 about - mission](https://cloud.githubusercontent.com/assets/1167326/13437522/ab1c5fd2-dfb2-11e5-94ff-0886917bb976.png)
![3 about - staff](https://cloud.githubusercontent.com/assets/1167326/13437524/ab1e0c9c-dfb2-11e5-87dd-bbafffc67c6d.png)
![4 about - curriculum](https://cloud.github

[2016-03-02 15:50] alxmrtnz commented on #15
@heyitsolivia

First draft of mobile and tablet for this component:

![wla-component-media-highlights-tablet1-3-2-16](https://cloud.githubusercontent.com/assets/1167326/13465625/8cc47dc8-e064-11e5-85a5-77ad1ae29870.jpg)

![wla-component-media-highlights-mobile1-3-2-16](https://cloud.githubusercontent.com/assets/1167326/13465631/91edc336-e064-11e5-95af-6a3f4ca83b57.jpg)

[2016-03-09 20:46] heyitsolivia opened #24 "Component - Call to Action (CTA)"
## Wireframes
![image](https://cloud.githubusercontent.com/assets/16227787/13848136/df59b51c-ec26-11e5-9091-cd0cce0f799c.png)

## Visual Design
### Desktop
![wla-component-cta-desktop1-3-21-16](https://cloud.githubusercontent.com/assets/1167326/13938837/e4dae57e-efa5-11e5-8dfa-b5e338773afb.jpg)

## Tablet
![wla-component-cta-tablet1-3-21-16](https://cloud.githubusercontent.com/assets/1167326/13938

[2016-03-09 20:52] heyitsolivia opened #25 "Homepage"
## Wireframes
![1 wla-homepage - unique](https://cloud.githubusercontent.com/assets/1167326/13882747/30043376-ecfd-11e5-9cc8-a90f86311962.jpg)

## Design
### Desktop
#### 3-23-16
![assembled-homepage-4-1-16](https://cloud.githubusercontent.com/assets/1167326/14219846/94fc6efa-f82a-11e5-943b-fb224f68323f.png)

# Component List
- Homepage Hero
- Summary block
- Callout - Icons
- Media Highlights
- T

[2016-03-09 21:40] #1 closed

[2016-03-09 21:48] heyitsolivia opened #26 "Component Character Counts"

[2016-03-11 20:52] heyitsolivia opened #27 "Set up developer environment"
**Tasks**
- [x] Set up gulp for sass + js
- [x] Set up Node Squarespace Server
- [x] Set up Foundation
- [x] Update documentation

[2016-03-11 21:34] #2 closed

[2016-03-11 21:35] alxmrtnz commented on #2
@heyitsolivia I updated the homepage wireframe in the Invision prototype and is available fully completed here:

https://invis.io/495Z2EAEC

[2016-03-11 21:42] alxmrtnz opened #28 "Component - Event Summary"
## Wireframe
<img width="998" alt="screen shot 2016-03-11 at 4 46 42 pm" src="https://cloud.githubusercontent.com/assets/1167326/13716404/de11cb2c-e7a8-11e5-8f53-912bac41cc8a.png">

## Appears in
Events
https://invis.io/4H63IJSQU

[2016-03-14 18:45] heyitsolivia commented on #15
@stacykane I have a question

[2016-03-14 18:45] stacykane commented on #15
@heyitsolivia I have an answer!

[2016-03-16 21:30] alxmrtnz commented on #26
![screen shot 2016-03-16 at 5 28 51 pm](https://cloud.githubusercontent.com/assets/1167326/13829328/d17e4bd6-eb9c-11e5-970b-f117ffc6e2b9.png)

[2016-03-16 22:18] awarehouse commented on #19
@alxmrtnz Are we going to treat the CTA Testimonial and the regular Quote Block as separate components?  cc @heyitsolivia

[2016-03-16 23:05] heyitsolivia commented on #19
@awarehouse I think that is what we last decided, yes

[2016-03-16 23:17] alxmrtnz commented on #19
@awarehouse @heyitolivia, yep! Separate indeed
On Wed, Mar 16, 2016 at 7:05 PM Olivia Cheng notifications@github.com
wrote:

[2016-03-17 04:32] heyitsolivia opened #29 "[Asset] Production-ready WLA logo"
As a developer I want to use an SVG logo so the logo looks and feels crispy.

**Versions needed:**
- [x] White knocked out version
- [x] Color version

**Dev Task**
- [x] Add logo assets

[2016-03-17 04:32] heyitsolivia commented on #29
Not sure if we will actually need a color version, since I haven't seen one used in the comps, @alxmrtnz can you confirm?

[2016-03-17 05:51] heyitsolivia opened #30 "Design for a 404 page"
As a user, I want to see a decent looking 404 error page if I happen upon a page that doesn't exist.

(Note: This doesn't explicitly need to say "404")

[2016-03-17 13:36] alxmrtnz commented on #29
@heyitsolivia , Confirmed. We only need a white version for now.

[2016-03-17 13:52] awarehouse opened #31 "Component - Testimonial"
## Wireframes

![screen shot 2016-02-22 at 3 09 44 pm](https://cloud.githubusercontent.com/assets/1167326/13231138/5a57ae5e-d976-11e5-8925-b6768f28fb56.png)

## Visual Design

### Desktop
![wla-component-testimonial-desktop1-4-1-16](https://cloud.githubusercontent.com/assets/1167326/14218894/11e17704-f825-11e5-8ce1-cb00a62d71d9.jpg)

### Tablet
![wla-component-testimonial-tablet1-4-1-16](https://c

[2016-03-17 13:59] awarehouse commented on #19
@heyitsolivia @alxmrtnz Hey guys both tickets have been updated.

[2016-03-17 15:46] heyitsolivia opened #32 "Web typography"
Determine final typography for the site.

- [x] List of final typefaces and weights/styles
- [x] Determine web solution (Preferably Google Fonts or Typekit)

[2016-03-17 15:49] heyitsolivia opened #33 "Color"
**Final color palette**

<img width="1178" alt="screen shot 2016-03-17 at 6 39 19 pm" src="https://cloud.githubusercontent.com/assets/1198350/13863358/a2180e1c-ec6f-11e5-8550-61b099175a19.png">

| Color               | Hex Value  |
| ------------------- | --------------- |
| Deep Indigo | #161E3A |
| Gold | #FFB42D |
| Jersey White | #F2F7F9
| Sea Mint | #6BD8D3

**Dev Tasks**
- [ ] Set colors up

[2016-03-17 15:50] thepaleshadow commented on #33
Final color palette w/ hex & rgb values can be found here:
https://www.dropbox.com/s/cv8z2851sz027ci/WLA-Color-Renderings-Final.pdf?dl=0

[2016-03-17 15:52] heyitsolivia opened #34 "Web Typography guidelines"
Define typography to be used across the site, including headings, subheadings, body text, labels, callouts, etc.

[2016-03-17 15:54] thepaleshadow commented on #29
Final SVG files here, in full signature, wordmark, and logomark isolations:
https://www.dropbox.com/sh/iy9e3an96b2b2dk/AAAvxmThCVdUW7nSZaPOMgtma?dl=0

[2016-03-17 20:58] alxmrtnz commented on #6
@heyitsolivia @thepaleshadow desktop and mobile versions of footer added

[2016-03-17 21:11] alxmrtnz commented on #4
@heyitsolivia @thepaleshadow visual design for navigation added for review.

[2016-03-17 22:38] heyitsolivia commented on #6
@alxmrtnz This looks good to me.

Couple of questions: Are we excluding phone number from the footer? And, should the logo in the footer link back to the homepage?

[2016-03-17 22:45] heyitsolivia commented on #33
<img width="1178" alt="screen shot 2016-03-17 at 6 39 19 pm" src="https://cloud.githubusercontent.com/assets/1198350/13863358/a2180e1c-ec6f-11e5-8550-61b099175a19.png">

| Color               | Hex Value  |
| ------------------- | --------------- |
| Deep Indigo | #161E3A |
| Gold | #FFB42D |
| Jersey White | #F2F7F9
| Sea Mint | #6BD8D3

[2016-03-17 22:47] heyitsolivia commented on #33
@alxmrtnz Can you check to see if there are any additional colors from your comps that should be added to the list above? I thought I saw an orange somewhere.

[2016-03-17 22:59] heyitsolivia commented on #4
@alxmrtnz Looking good. Some questions:
- Will the navigation always be displayed on a dark background (solid/photo)?
- Are there current/hover states for menu items on smaller screens? So the user can see the current page they are on highlighted in some way.
- Are there hover/active states for the subscribe/newsletter link? Maybe the background of the button/tab  darkens?
- If the user is on a su

[2016-03-17 23:15] heyitsolivia commented on #29
@thepaleshadow Thanks! I'll put this in ready for dev.

[2016-03-18 14:26] alxmrtnz commented on #33
@heyitsolivia @thepaleshadow

In my comps, I've used a slightly different "jersey white" for section backgrounds.

#F2F4F9 instead of #F2F7F9. I wouldn't bring it up (since they're so close) except for that I think the option I have has a bit more blue and looks better on the site.

Also, **Olivia**, we've switched from orange to gold. The components/comps I post shortly will have that updated col

[2016-03-18 14:57] alxmrtnz commented on #4
@heyitsolivia
- Will the navigation always be displayed on a dark background (solid/photo)?
  **All pages except the home page will have that navy overlay. On the homepage, we'll want to add a gradient fade at the top just in case they ever change the photo to a suboptimal, lighter image. We will be able to use whit navigation on all pages.**
- Are there current/hover states for menu items on smal

[2016-03-18 15:07] alxmrtnz commented on #6
@heyitsolivia

I forgot the phone number. Sorry about that. Also, essentially, they don't have a physical address yet. so for now it would just be the phone number and email address.

I don't think the logo in the footer needs to link to the home page to be honest. What do you think?

[2016-03-18 15:16] heyitsolivia commented on #6
@alxmrtnz Gotcha. And I'm okay with the footer logo not linking back, I was just wondering.

[2016-03-18 15:24] heyitsolivia commented on #4
@alxmrtnz Thanks, that all makes sense. I like the hover animation you referenced too. Leaving a gif of it here for future reference:

![nav-link-animation](https://cloud.githubusercontent.com/assets/1198350/13882473/ec630166-ecfb-11e5-96a4-34e57efcdc46.gif)

[2016-03-18 15:36] heyitsolivia commented on #33
@thepaleshadow If we're using `#F2F4F9` in the comps and site, then should we update the brand/color guidelines to reflect that?

[2016-03-18 15:57] thepaleshadow commented on #33
@heyitsolivia: We’re no longer using that hex code—sticking to #F2F7F9

[2016-03-18 19:38] heyitsolivia commented on #33
Thanks! Moving this to dev now.

[2016-03-18 19:42] heyitsolivia commented on #5
@alxmrtnz Are there design comps for this?  Might be able to build this at the same time as the primary navigation (#4)

[2016-03-18 20:28] alxmrtnz commented on #5
@heyitsolivia essentially it should look something like this

@thepaleshadow is going to be taking another look at it as he designs his components, so I would chat with him in case it strays from this layout.

<img width="1386" alt="screen shot 2016-03-18 at 4 27 42 pm" src="https://cloud.githubusercontent.com/assets/1167326/13891268/81bce9b4-ed26-11e5-8c6d-0e31bbf1f94b.png">

[2016-03-22 00:03] alxmrtnz commented on #7
@thepaleshadow Do you want to do a design review on this?

[2016-03-22 00:33] alxmrtnz commented on #15
@heyitsolivia ,

I've updated this issue with updated comps. The main difference being an update to the serif typeface (we're now using Domine instead of Sentinel)

[2016-03-22 00:46] alxmrtnz commented on #19
@heyitsolivia @awarehouse updated visual design for this component has been added

[2016-03-22 00:52] alxmrtnz commented on #31
@heyitsolivia @awarehouse visual design for this component has been added

[2016-03-22 00:55] #19 closed

[2016-03-22 00:56] alxmrtnz commented on #24
@heyitsolivia @awarehouse I closed the duplicate issue and moved everything to this issue

[2016-03-22 00:59] alxmrtnz commented on #8
@heyitsolivia visual design added

[2016-03-22 15:44] heyitsolivia commented on #18
Note: Explore using the built in Squarespace gallery block

[2016-03-22 16:04] heyitsolivia commented on #6
@alxmrtnz can you identify the text color used in the footer?

[2016-03-22 16:06] thepaleshadow commented on #32
![wla-brand-typefaces](https://cloud.githubusercontent.com/assets/14925396/13958394/4cac2d4a-f026-11e5-8258-081dad007974.jpg)

All brand typefaces are from Google Fonts. Desktop files can be found here: https://www.dropbox.com/sh/979t0igw1ekrewe/AAAUIGGT6WQRXdvlADZTeozga?dl=0

[2016-03-22 17:33] awarehouse commented on #19
@alxmrtnz Is this the ticket that you deleted? If not, should this ticket really be assigned to @heyitsolivia to dev?

[2016-03-22 17:33] alxmrtnz commented on #19
@awarehouse this is the ticket I closed. You can see that it's been marked as closed at the top of this page :)

[2016-03-22 17:35] #27 closed

[2016-03-22 17:35] #22 closed

[2016-03-22 17:35] #33 closed

[2016-03-22 19:23] heyitsolivia commented on #6
Screenshots of the footer built out:
<img width="577" alt="screen shot 2016-03-22 at 3 21 52 pm" src="https://cloud.githubusercontent.com/assets/1198350/13964799/e8b62414-f041-11e5-8807-5e2d6edd9ca4.png">
<img width="783" alt="screen shot 2016-03-22 at 3 22 06 pm" src="https://cloud.githubusercontent.com/assets/1198350/13964806/ed7817f0-f041-11e5-890a-1b8efffc533a.png">

[2016-03-22 19:25] heyitsolivia commented on #32
Added the following webfonts to the project:
- Domine: 400
- Montserrat: 700
- Source Sans Pro: 400, 400italics, 700, 700italics

[2016-03-24 01:31] alxmrtnz commented on #34
@thepaleshadow @heyitsolivia

I've put together a doc of web type::

![type styles 4-1-16](https://cloud.githubusercontent.com/assets/1167326/14219123/7b1353c2-f826-11e5-917a-775afce7dfe4.jpg)

I'm out Thursday and Friday, but if either of you want to check out the source, it's in the "WLA Components" sketch file located here on dropbox:
https://www.dropbox.com/sh/ogb59kqe99cii0m/AABJ5Q_McElImdZ7o

[2016-03-24 12:02] thepaleshadow commented on #34
Awesome, @alxmrtnz! These look great so far.

[2016-03-24 13:37] heyitsolivia opened #35 "Email Newsletter Link"
We need a link to WLA's current email newsletter sign up.

[2016-03-24 13:48] awarehouse commented on #35
@stacykane @nataliegould Can you please send us the link to your current email newsletter sign up?

[2016-03-24 13:53] awarehouse commented on #6
@alxmrtnz Did you and @heyitsolivia work out the text color?

[2016-03-24 15:19] stacykane commented on #35
Hi Arista! We haven't set it up yet. I think we are going to use Mail Chimp
but we haven't set it up. Right now we use google groups which I don't
think we want to stay with.

On Thu, Mar 24, 2016 at 9:48 AM Arista notifications@github.com wrote:

[2016-03-24 15:45] awarehouse commented on #17
@alxmrtnz I still need the character count for this section.

[2016-03-24 17:08] awarehouse commented on #26
Hey @stacykane and @nataliegould. This will serve as our Content Intake Github ticket. I will add new pages that will need copy into the "Content Intake Matrix" google Doc as their digital comps are finished, and then inform you that there is a new page up. Please feel free to ask any questions that you come across. Once you are finished with a page, you can check off the box , comment back to me,

[2016-03-24 17:10] heyitsolivia commented on #6
@awarehouse  @alxmrtnz I extracted it from the sketch file. I'm using the hex value `#71788C` and calling it `$paleindigo`. Sound good?

[2016-03-24 17:15] awarehouse commented on #26
@stacykane @nataliegould Please have the first 5 pages finished by 4/6. Thank you!

[2016-03-28 13:45] #32 closed

[2016-03-28 19:42] awarehouse commented on #5
@thepaleshadow Do you expect there to be any large changes between the comp above and your final News Page comp? cc. @heyitsolivia

[2016-03-29 00:13] heyitsolivia commented on #6
@awarehouse

I added some acceptance criteria to the first comment, can you review and let me know if it makes sense?

Also, about the copyright line in the footer: I assume the content on the website is copyrighted, but the code for the site is open source. We should double-check and distinguish between the two.

[2016-03-29 13:33] awarehouse commented on #6
@heyitsolivia Thanks for adding those. All, but the last one make sense to me - " Variable number of connected social accounts does not break the component or design." Is this saying that adding or subtracting variables won't break the design / component? Also, should there be a test that the Twitter / Facebook also links to the appropriate page?

[2016-03-29 13:40] heyitsolivia commented on #6
@awarehouse Sorry, that should say _varying_ as in, any number of social media accounts. And linking to the appropriate page for each account is done automatically when you connect to each account in Squarespace, though it doesn't hurt to check.

[2016-03-29 13:45] heyitsolivia commented on #29
@thepaleshadow Per branding/identity guidelines, the WLA mark can be used on its own without the accompanying wordmark, correct? Just wanted to double check since I want to make this responsive — where on very small screens, you'll only see the logomark instead of the full lockup.

[2016-03-29 13:47] thepaleshadow commented on #29
Yep, that’s correct. Use the logomark if the full signature would be rendered illegible, as the guidelines indicate

[2016-03-29 13:49] thepaleshadow commented on #5
The only thing we’ve changed here is the Subscribe button at the upper right has a yellow background instead of a dark navy, to highlight it more against the dark hero photos.

[2016-03-29 13:57] awarehouse commented on #5
cc @heyitsolivia ^^

[2016-03-29 14:44] heyitsolivia commented on #5
@thepaleshadow Thanks. What about for mobile? I'm thinking the secondary navigation items can just stack like a vertical list on smaller screens, unless you have a better idea. cc @alxmrtnz

[2016-03-29 16:52] alxmrtnz commented on #20
@heyitsolivia responsive visual design has been added

[2016-03-29 17:58] alxmrtnz commented on #17
@awarehouse just added visual design and character counts for this component

[2016-03-29 18:19] heyitsolivia commented on #5
@thepaleshadow If we use the gold for the subscribe button, it looks like this. Too much contrast now?

<img width="1065" alt="screen shot 2016-03-29 at 2 17 02 pm" src="https://cloud.githubusercontent.com/assets/1198350/14118791/0fd97bbe-f5b9-11e5-95c5-5734b59253ca.png">
<img width="1070" alt="screen shot 2016-03-29 at 2 18 33 pm" src="https://cloud.githubusercontent.com/assets/1198350/14118809/2

[2016-03-29 18:26] thepaleshadow commented on #5
Ah, my mistake! Forgot to mention we have a transparency on those to diminish the contrast—I believe it’s 40%. @heyitsolivia

[2016-03-29 18:27] alxmrtnz commented on #31
@heyitsolivia @awarehouse updated visual design and character counts have been added above

[2016-03-29 19:46] heyitsolivia commented on #17
@alxmrtnz Have you tried a dark text color for this component? We'll run into accessibility issues with that white text on the gold background. It's currently failing content accessibility guidelines, see a test here: http://jxnblk.com/colorable/demos/text/?background=%23ffb42d&foreground=%23FFF

[2016-03-29 20:46] alxmrtnz commented on #17
@heyitsolivia it looks like using our black for the text color passes the test.

A change like that will affect this testimonial component and also the 3 column callout.

@thepaleshadow what do you think on how these look? When you have a chance could you swing by my desk?

<img width="1552" alt="screen shot 2016-03-29 at 4 41 50 pm" src="https://cloud.githubusercontent.com/assets/1167326/14123281

[2016-03-29 20:55] alxmrtnz commented on #17
@heyitsolivia after checking with @thepaleshadow, in order to make the text/background color accessible:

Let's move forward with using our Indigo color for any text on a teal or gold background (this will include the mobile navigation drawer).

[2016-03-29 21:01] heyitsolivia commented on #17
@alxmrtnz So you want text color change to carry into the nav like so?
<img width="403" alt="screen shot 2016-03-29 at 4 58 58 pm" src="https://cloud.githubusercontent.com/assets/1198350/14123685/c4cbf838-f5cf-11e5-979f-dc1f1e7ab819.png">

[2016-03-29 21:05] thepaleshadow commented on #17
That looks dope ^. So much more legible. @alxmrtnz @heyitsolivia

[2016-03-29 22:54] alxmrtnz commented on #17
@heyitsolivia yep! I'd make the shield, the "x" and the text in that subscribe to newsletter button all navy as well

[2016-04-01 15:07] awarehouse commented on #35
@stacykane @nataliegould  Can you please try to have the Mail Chimp set up by April 8th?

[2016-04-01 15:10] heyitsolivia commented on #3
@alxmrtnz  Looks like this (Squarespace defaults: close icon, text and/or link), the "alert" text is content in a pseudo element I added, but we can change/remove this.)

<img width="828" alt="screen shot 2016-04-01 at 11 08 32 am" src="https://cloud.githubusercontent.com/assets/1198350/14211082/2e27d3fc-f7fa-11e5-9ccb-f2d97400d4dc.png">

[2016-04-01 15:29] awarehouse opened #36 "Favicon"

[2016-04-01 15:30] awarehouse opened #37 "Social Sharing Images"

[2016-04-01 15:51] alxmrtnz opened #38 "WLA Site User Guide"

[2016-04-01 16:08] awarehouse commented on #25
@alxmrtnz Please design icons for the "What we offer?" section:
- Computer science and coding
- Real world internships
- The Country's best teachers

[2016-04-01 18:03] heyitsolivia commented on #5
Notes from discussion with @alxmrtnz : Responsive secondary nav could behave like a side scrolling menu: as it gets smaller, items overflow but are accessible by swiping/sliding.

[2016-04-01 18:16] heyitsolivia commented on #34
@alxmrtnz Add heading small guidelines

[2016-04-01 18:18] heyitsolivia commented on #31
@alxmrtnz update text color

[2016-04-01 18:21] heyitsolivia commented on #17
Notes from discussion: Leave logo and menu icon as is, update nav text, button, and underline to indigo.

[2016-04-01 18:23] heyitsolivia commented on #17
@alxmrtnz Update comp for review purposes

[2016-04-01 18:23] heyitsolivia commented on #16
@alxmrtnz Update comp for review purposes

[2016-04-01 20:16] alxmrtnz commented on #31
@heyitsolivia updated!

[2016-04-01 20:26] alxmrtnz commented on #34
@heyitsolivia updated!

[2016-04-01 20:34] alxmrtnz commented on #17
@heyitsolivia updated comps for this component!

[2016-04-01 20:39] alxmrtnz commented on #16
@heyitsolivia updated!

[2016-04-01 20:56] alxmrtnz commented on #25
@awarehouse @heyitsolivia updated!

[2016-04-01 20:58] alxmrtnz commented on #36
@thepaleshadow I'm assigning this to you as master of the WLA crest. If you could put together a 260px by 260px comp for a favicon, I can help reformat it to the size we need.

It can either have a color or transparent background.

[2016-04-01 21:39] nataliegould commented on #35
Hey - we set up a free account. Do you need login credentials?

NG

On Fri, Apr 1, 2016 at 11:07 AM, Arista notifications@github.com wrote:

##

_Natalie Gould_
Director of Operations
Washington Leadership Academy
612-867-3829
www.linkedin.com/in/natalieagould
http://washingtonleadershipacademy.org/
http://washingtonleadershipacademy.org/

[2016-04-04 03:34] awarehouse commented on #35
Yes. That would be great. Thank you!

On Fri, Apr 1, 2016, 5:39 PM nataliegould notifications@github.com wrote:

[2016-04-05 18:22] heyitsolivia opened #39 "News Design"

[2016-04-06 13:56] thepaleshadow commented on #36
@alxmrtnz Link to the favicon can be found [here.](https://www.dropbox.com/s/jlw8oxebr1q6u1i/wla-favicon.png?dl=0)

[2016-04-06 18:01] alxmrtnz commented on #13
@stacykane I'm starting work on this component and was hoping to get some input from your team.
- About how many Staff members will WLA be starting with?
- About how many Board members will WLA be starting with?
- Will your team be able to provide head shots for each staff/board member? If yes, could you prepare and send a set our way?
- Do you want only the name and position of each individual or

[2016-04-06 18:34] heyitsolivia commented on #34
These can be reviewed on this temporary styleguide page: https://washingtonleadershipacademy.squarespace.com/styleguide

[2016-04-06 23:33] heyitsolivia commented on #8
@awarehouse
Note: Pretty much done save for one issue. Currently all pages have the page title displayed in the hero area, but according to the design comps, we want to display the parent page title on subpages.

This would either have to be set manually in Squarespace, or we would need to explore another (potentially hacky) way of getting that parent page title since it's not readily available.

[2016-04-06 23:36] heyitsolivia commented on #8
One more thing: Need a seamless tiled fallback pattern to display in the event there is  no hero image to display. cc. @thepaleshadow

[2016-04-08 15:17] heyitsolivia commented on #36
@thepaleshadow We may want a transparent background for the browser favicon.

For touch icons (the icon that shows up when you bookmark a page to your phone's homescreen) this would work fine.

[2016-04-08 21:48] heyitsolivia commented on #18
@alxmrtnz Was there a comp for this?

[2016-04-08 21:50] heyitsolivia opened #41 "Set up configuration for all templates and components"
Set up custom collections for each template, and custom post types in `template.config` for components.

For reference:
**Wireframes from #2**
Invision link: https://projects.invisionapp.com/share/495Z2EAEC#/screens

**Component Inventory in #1**
![](https://cloud.githubusercontent.com/assets/1167326/13085608/0cec81a8-d4ad-11e5-9998-32353f599316.jpg)

[2016-04-08 22:12] heyitsolivia commented on #41
Essentially, we'll need to set up each custom page on squarespace as a collection, or "blog", wherein each custom section will consist of a custom "post".

[2016-04-10 03:12] alxmrtnz commented on #18
@heyitsolivia There is not currently a comp. We had discussed possibly using Squarespace's build in gallery component. Could you look into what's available and then we can sync early this next week?

[2016-04-11 16:20] heyitsolivia commented on #41
I've set up the following custom post types:

Hero Block (for homepage only)
Icons Block (for homepage only)
Call to Action Block
Quote Block
Media Highlights
Feature Block
Image Highlights
Three Column Block
Text Highlights

[2016-04-12 15:41] thepaleshadow commented on #9
Single News Article Hero @heyitsolivia @alxmrtnz
<img width="1440" alt="news-article-hero" src="https://cloud.githubusercontent.com/assets/14925396/14466116/74db69ce-00a3-11e6-9ecf-3714059abc48.png">

[2016-04-12 15:42] thepaleshadow commented on #10
Single News Article Card: @heyitsolivia @alxmrtnz
<img width="979" alt="news-article-card" src="https://cloud.githubusercontent.com/assets/14925396/14466155/9fee39f2-00a3-11e6-8784-120c3be8e4ca.png">

[2016-04-12 15:43] thepaleshadow commented on #11
News Pagination: @heyitsolivia @alxmrtnz
<img width="617" alt="news-pagination" src="https://cloud.githubusercontent.com/assets/14925396/14466177/b9730812-00a3-11e6-86ed-4acd7c7ee515.png">

[2016-04-12 15:44] thepaleshadow commented on #12
Single News Article Pagination as well as Share Links: @heyitsolivia @alxmrtnz
<img width="764" alt="share-links-article-pagination" src="https://cloud.githubusercontent.com/assets/14925396/14466200/d4774be6-00a3-11e6-99ac-ae8429a739d0.png">

[2016-04-12 15:45] thepaleshadow commented on #3
Alert Bar: @alxmrtnz @heyitsolivia
<img width="1440" alt="alert-bar" src="https://cloud.githubusercontent.com/assets/14925396/14466250/f90b2d74-00a3-11e6-98fa-10698edc9ff8.png">

[2016-04-12 16:00] thepaleshadow commented on #39
PDFs of the full site comps for reference (Mobile and Desktop): @alxmrtnz @heyitsolivia
https://www.dropbox.com/sh/7y5j38j4abp6r6p/AAAurRuIACCB4kgLT-DV8y8La?dl=0

[2016-04-12 17:13] alxmrtnz commented on #3
@thepaleshadow the only other change I'd say is to add an underline to "Read More". I know we don't do so with other links, but because it's the same color and weight as the word "Alert", it may be good to distinguish it.

Other option would be to add an arrow-right like we do with other links, but I'm not sure that's possible with the html structure of what Squarespace provides. @heyitsolivia , c

[2016-04-12 17:16] heyitsolivia commented on #30
@alxmrtnz Can you add your comp to this ticket please?

[2016-04-12 17:17] alxmrtnz commented on #39
@thepaleshadow looks good to me.

Only change I would say is to make the "Read More" links teal instead of navy so that it matches the other links like that on the site

for reference:
<img width="685" alt="screen shot 2016-04-12 at 1 15 23 pm" src="https://cloud.githubusercontent.com/assets/1167326/14469052/d06407f8-00b0-11e6-9e79-28fdc0dd3505.png">

I don't think you need to update the comp as i

[2016-04-12 17:18] alxmrtnz commented on #9
@thepaleshadow 👍

[2016-04-12 17:23] alxmrtnz commented on #11
@thepaleshadow 👍

[2016-04-12 17:23] alxmrtnz commented on #12
@thepaleshadow 👍

[2016-04-12 17:24] alxmrtnz commented on #16
@heyitsolivia @thepaleshadow any thoughts on this? If it's fine with both of you, we can move it to Ready for Dev

[2016-04-12 17:26] alxmrtnz commented on #30
@heyitsolivia sure thing!

![wla-404](https://cloud.githubusercontent.com/assets/1167326/14469330/23f45836-00b2-11e6-840d-6aef6e7de557.png)

cc:  Olivia and @thepaleshadow: ready for design review

[2016-04-12 17:30] heyitsolivia commented on #9
@thepaleshadow @alxmrtnz This needs some changes— everywhere else on the site, that hero space is being used for the page title/subnav, which gives the user context for where you are on the site.

The news headline and news date should live in the body of the page instead.

[2016-04-12 19:15] heyitsolivia commented on #41
Aside from a custom post type for the employee/staff block in  #13,  this is pretty much good to go.

[2016-04-12 19:21] heyitsolivia commented on #30
@alxmrtnz Looks good to me. Wonder if the tiled pattern @thepaleshadow is working on could look good on the background of this page?

[2016-04-12 19:21] alxmrtnz commented on #13
@heyitsolivia Just added initial component comps (using real text data, placeholder portraits).

Mobile and tablet are set at the largest width before they'd break to the next level up.

Let me know what you think and we can chat as well

cc: @thepaleshadow

[2016-04-12 19:30] heyitsolivia commented on #3
@alxmrtnz @thepaleshadow Since this markup is being injected by Squarespace and the content by the user, we don't have much control over what shows up here. The user could create link(s) anywhere in that line of text. As such, we also can't/shouldn't control the spacing around that link.

We can add that **ALERT** as a pseudo element, but the user can't modify that. It would always show up, not su

[2016-04-13 13:53] alxmrtnz commented on #6
@heyitsolivia looks great to me! I'm not sure how to QA on various browsers (I tried Browserstack running my local server – which has worked in the past with other projects – but I can't seem to get it working with this).

Aside from that cross-browser QA, it looks great 👍

[2016-04-13 14:19] #41 closed

[2016-04-13 14:20] awarehouse commented on #41
Note: We will QA each component once development of the ticket has been completed.

[2016-04-13 14:36] heyitsolivia commented on #6
@alxmrtnz awesome! we should be QAing with the live washingtonleadershipacademy.squarespace.com instead of the local server though (especially since I've found that the node squarepace server isn't 100% accurate). That should make it a bit easier to browser test :)

[2016-04-13 14:46] stacykane commented on #13
1 - 15 staff to start, adding about 8-10 per year after that until full
capacity in 4 years.
2 - 9 Board Members to start, 15 ever at max capacity but we might not even
get that big.
3 - Head shots yes but might take some time. We will start collecting!!
4 - A small text snippet would also be great!
5 - Yes on social media IF we can also not include it (some of our
staff/members either don't have

[2016-04-13 15:11] alxmrtnz commented on #6
@heyitsolivia Testing with Browserstack, IE 10 and 11 are both having issues with the footer:
<img width="1414" alt="screen shot 2016-04-13 at 11 08 24 am" src="https://cloud.githubusercontent.com/assets/1167326/14498438/70c72e3e-0168-11e6-98bf-40e510498f22.png">

[2016-04-13 15:16] alxmrtnz commented on #4
@heyitsolivia Mobile nav looks great on all tested browsers.

Testing on Browserstack, IE 11 and 10 have issues:
![screen shot 2016-04-13 at 11 09 00 am](https://cloud.githubusercontent.com/assets/1167326/14498659/2ca8ad80-0169-11e6-8fc2-6686adc3a9f8.png)
![screen shot 2016-04-13 at 11 12 43 am](https://cloud.githubusercontent.com/assets/1167326/14498660/2cb18338-0169-11e6-832f-2ad2307c416c.png)

[2016-04-13 15:27] alxmrtnz commented on #8
Testing in Browserstack:

IE 11/10 issues
- Navigation (same issue carrying over from the one I mentioned in the navigation ticket)
- Positioning of page title is a bit off

![screen shot 2016-04-13 at 11 23 31 am](https://cloud.githubusercontent.com/assets/1167326/14498988/810d6d4c-016a-11e6-9138-2edf938f509c.png)

Medium (IE 11/10)
Looks fairly good
- Alignment issues with page title and WLA log

[2016-04-13 15:49] awarehouse commented on #3
@alxmrtnz @thepaleshadow @heyitsolivia Let's hard code "ALERT" into the alert bar. The purpose of this bar is to alert users of emergencies. We don't want this bar used as a random CTA bar.

[2016-04-13 17:19] heyitsolivia commented on #3
sounds good, I'll move this into Ready for Dev

[2016-04-18 20:12] #21 closed

[2016-04-18 20:12] #28 closed

[2016-04-21 15:39] heyitsolivia opened #48 "Component: Icon Block"
<img width="1041" alt="screen shot 2016-04-21 at 7 35 22 pm" src="https://cloud.githubusercontent.com/assets/1198350/14727376/3dea23b8-07f8-11e6-9e0c-999e30208102.png">

[2016-04-21 17:40] heyitsolivia commented on #14
@awarehouse @alxmrtnz This is ready for QA and Content

[2016-04-21 23:35] heyitsolivia commented on #48
@alxmrtnz @awarehouse This is ready for QA and content now.

[2016-04-22 17:14] heyitsolivia commented on #15
@awarehouse @alxmrtnz This media block is ready for QA and content too

[2016-04-22 18:36] awarehouse commented on #15
@heyitsolivia Question about the middle "Call Out" Section. Does the call out text only appear if you have a link? In the Homepages' case we have a quote there. Does that mean the author's name wouldn't be visible?

[2016-04-22 18:44] heyitsolivia commented on #15
@awarehouse

**Callout text** should always be displayed.
**Callout link text** is only displayed if you have also added a **callout link url**.

Not sure about the author bit— I don't have a field for you to enter an "author name", I don't think using the Callout section as a quote area was a use case for that component. If you're putting in an author name in the Callout Link Text, then it wouldn

[2016-04-22 18:54] awarehouse commented on #15
@heyitsolivia Their preference is to have the middle call out treated like a quote block. Is this possible?

[2016-04-22 18:56] alxmrtnz commented on #15
@heyitsolivia @awarehouse I designed the block to serve as an announcement block that the user could enter sentence long announcements with or without a link. That could mean that a quote could also go there, but as we designed it, there was no intention for a quote attribution. If they'd like that, I think we could add it.

[2016-04-22 18:57] awarehouse commented on #15
@alxmrtnz Is it weird to use a quote and not include the quote credit? cc @heyitsolivia

[2016-04-22 19:47] awarehouse commented on #14
@heyitsolivia The summary block needs padding. https://www.dropbox.com/s/a8gg84qe6xemew5/Screenshot%202016-04-22%2015.43.22.png?dl=0

[2016-04-22 21:15] alxmrtnz commented on #48
@heyitsolivia looks good to me 👍

[2016-04-23 06:32] heyitsolivia commented on #31
Two things:
- I set up author and author position on the same line as I'm not sure we will need 2 lines. But if the content works better with two lines, I can make that change.
- I included curly quotes on all quote text as part of the template, thought that would be easiest.

[2016-04-24 04:40] heyitsolivia commented on #14
Fixed in #57

[2016-04-25 15:17] heyitsolivia commented on #18
@awarehouse @alxmrtnz Ready for qa/review!

[2016-04-25 15:17] heyitsolivia commented on #16
@awarehouse @alxmrtnz Ready for qa/review!

[2016-04-25 15:17] heyitsolivia commented on #17
@awarehouse @alxmrtnz Ready for qa/review!

[2016-04-25 17:36] alxmrtnz commented on #17
looks good to me! 👍

[2016-04-25 17:43] alxmrtnz commented on #17
Actually, the only thing I'd change is to remove the feint white line under the intro paragraph. I'm not sure if you intentionally added it to create separation? If you think it's better with the line, feel free to keep :)

![screen shot 2016-04-25 at 1 42 06 pm](https://cloud.githubusercontent.com/assets/1167326/14793128/974aabb2-0aeb-11e6-9f90-bb613c7d787d.png)

[2016-04-25 17:47] heyitsolivia commented on #17
@alxmrtnz Ah yeah, I added the line to create some distinction between the summary and sections, since it was starting to  feel like a wall of text to me. Thoughts? We can try some other treatment or remove it entirely if you think it's not working.

[2016-04-25 17:53] alxmrtnz commented on #16
1. on mobile, decrease margin-bottom of `.highlight__title` to .25rem (this also applies to #17 )
2. on mobile and tablet, set highlight `margin: .5rem 2rem`
3. on mobile and tablet, decrease highlight__image's margin bottom from 2rem to 1rem

All of these things should help tighten up each highlights in this component and the text highlights compoentn (#17) on tablet and mobile.

[2016-04-25 18:01] alxmrtnz commented on #17
@heyitsolivia If we keep the seperator, let's go with a darker version. (either just darken what we have to something like rgba(0,0,0,.1) or use an after element to create a smaller width version of it

option 1
![screen shot 2016-04-25 at 2 00 06 pm](https://cloud.githubusercontent.com/assets/1167326/14793602/0fd35636-0aee-11e6-9739-13f0e1d11324.png)

option2
<img width="1231" alt="screen shot 20

[2016-04-25 18:03] alxmrtnz commented on #18
Looks good!

One thing is that I think the images should be bigger on mobile

something like this:
<img width="398" alt="screen shot 2016-04-25 at 2 03 07 pm" src="https://cloud.githubusercontent.com/assets/1167326/14793694/81f1809e-0aee-11e6-96b2-10db9196bff1.png">

[2016-04-26 14:46] heyitsolivia commented on #13
@alxmrtnz @awarehouse  Ready for qa/review!

[2016-04-26 18:34] alxmrtnz commented on #15
@heyitsolivia something that I'm noticing just now is that on both this component and the employee page (#13) is that the triangle caret is not perfectly centered (it's slightly off to the right)

![screen shot 2016-04-26 at 2 32 50 pm](https://cloud.githubusercontent.com/assets/1167326/14829901/dfe29d28-0bbb-11e6-8bbf-1205d4877b32.png)

[2016-04-26 18:37] #34 closed

[2016-04-26 18:37] alxmrtnz commented on #34
@heyitsolivia marking this as done

[2016-04-26 18:44] alxmrtnz commented on #15
@heyitsolivia only other thing I'd change would be to decrease the margin-bottom of .mediablock .summary__header from 4rem to 3rem

[2016-04-26 18:51] alxmrtnz commented on #20
@heyitsolivia Just reviewed this and I think it looks good to go :+1:

[2016-04-26 18:58] alxmrtnz commented on #31
@heyitsolivia only two things I can find to modify before this is good to go:

1 - on mobile, let's decrease the margin-bottom on .quoteblock__image from 2rem to 1.5rem
2 - at all screensizes, make the padding-top 1rem less than the padding-bottom. Visually, this will help the content look more centered vertically (even though it's really not)
- Mobile: top: 6rem, bottom: 7rem
- Tablet: top: 7rem,

[2016-04-26 20:09] alxmrtnz commented on #15
@heyitsolivia  Just found a couple of issues with widths of text in this component on IE 10 (it looks fine in IE 11)

<img width="1157" alt="screen shot 2016-04-26 at 4 00 11 pm" src="https://cloud.githubusercontent.com/assets/1167326/14832623/238e8ed0-0bc9-11e6-83a8-04af7e365aa2.png">
<img width="1157" alt="screen shot 2016-04-26 at 4 00 22 pm" src="https://cloud.githubusercontent.com/assets/1167

[2016-04-26 20:14] alxmrtnz commented on #24
@heyitsolivia looks good upon cross-browser inspection :+1:

[2016-04-26 20:17] alxmrtnz commented on #3
@heyitsolivia this one looks good to go :+1:

[2016-04-26 20:23] alxmrtnz commented on #14
@heyitsolivia this looks good upon review :+1:

[2016-04-26 20:24] alxmrtnz commented on #17
@heyitsolivia moving this to QA fix for now

[2016-04-26 20:35] alxmrtnz commented on #13
Just a couple of changes here:

1 - On small, adjust top and bottom margins of team card to the following to decrease the amount of space between each:
<img width="1235" alt="screen shot 2016-04-26 at 4 31 24 pm" src="https://cloud.githubusercontent.com/assets/1167326/14833316/a4e98860-0bcc-11e6-9d09-ae1c4e5a451a.png">

2 - adjust paddings on these blocks to decrease the amount of space between em

[2016-04-26 20:50] heyitsolivia commented on #17
Let's go with option A

[2016-04-26 20:57] heyitsolivia commented on #13
Padding adjustment is a nice to have.

[2016-04-26 21:09] heyitsolivia commented on #4
Add Gradient overlay 25% (cornell treatment)

[2016-04-26 22:57] heyitsolivia commented on #5
@alxmrtnz @awarehouse Last component is done! Ready to QA and review!

[2016-04-26 22:58] #25 closed

[2016-04-27 17:29] alxmrtnz commented on #5
@heyitsolivia the only thing I'd change here is to remove the transform of the underline on hover. It's a little odd having the line animate up from below on hover and break the visual container of the secondary nav.

I'd modify it so that the underline bar simply fades in but is already in its end location so that it doesn't appear to move up from below. Does that make sense?

[2016-04-27 18:34] #48 closed

[2016-04-27 18:34] #20 closed

[2016-04-27 18:34] #24 closed

[2016-04-27 18:34] #3 closed

[2016-04-27 18:35] #14 closed

[2016-04-27 19:32] #13 closed

[2016-04-27 19:34] heyitsolivia commented on #8
Issue with IE 9/10: `pass-through` is not supported,  need an alternate implementation of displaying submenu dropdowns.

[2016-04-27 19:34] heyitsolivia commented on #4
Issue with IE 9/10: `pass-through` is not supported,  need an alternate implementation of displaying submenu dropdowns.

[2016-04-27 19:34] #8 closed

[2016-04-27 19:35] #36 closed

[2016-04-27 20:11] #17 closed

[2016-04-27 20:11] #16 closed

[2016-04-27 20:13] heyitsolivia commented on #30
@alxmrtnz I think this still needs QA, you can access this page by going to `/404`

[2016-04-27 20:20] alxmrtnz commented on #30
@heyitsolivia just decrease the .errorblock svg `margin-bottom` to `3rem` instead of `4rem` and I think it's good to go

[2016-04-27 20:59] #31 closed

[2016-04-28 17:20] heyitsolivia commented on #5
Yup, I'll make that change now.

[2016-04-28 19:22] #5 closed

[2016-04-28 22:45] #4 closed

[2016-04-28 22:45] #6 closed

[2016-04-28 22:45] #30 closed

[2016-04-28 22:45] #15 closed

[2016-04-28 22:46] #18 closed

[2016-04-28 22:46] #7 closed

[2016-04-29 15:37] heyitsolivia opened #73 "Group QA Fixes"
## QA Fixes

Homepage hero: background position: top center

Media Block Callout
set max width on text so it doesn’t get too long
more padding top + bottom

Text Highlights
background: accent color

Feature Block
background: jersey white

Image Gallery
background: jersey white

Team Block:
Left align instead of center align 2 column block

Content Changes:
- [x] Our Approach: Summary Line
- [x] Ou

[2016-05-02 14:21] #12 closed

[2016-05-02 14:21] #9 closed

[2016-05-02 14:21] #39 closed

[2016-05-02 14:22] #10 closed

[2016-05-02 14:22] #11 closed

[2016-05-02 16:00] #35 closed

[2016-05-02 17:49] heyitsolivia commented on #73
@awarehouse
Invalidate fb og cache: https://developers.facebook.com/tools/debug/sharing/batch/

[2016-05-02 18:52] heyitsolivia commented on #73
Dev changes from today's review:
- [x] fix extra space before comma in quote attribution
- [x] increase contrast in footer text
- [x] increase font size in summary block
- [x] Call to action block: add boolean check for “open in new window”, update template
- [x] Increase contrast between CTA block and footer bg
- [x] Header images — position background images as top-center instead of center-cente

[2016-05-02 20:26] awarehouse commented on #73
Full Meeting Notes:

Overview
- [x]  Add Partner (add an S)
- [x] Make sure the logos link to a different tab

Our Approach
- [x] Leadership Development >> LEAD or Leadership Curriculum
- [x] Remove the “Learn More” links from the Media Highlight
- [x] Change CTA on page to lead to the Academics Page
- [x] Typo:  “for students in the DC and beyond”  <— needs “area”

Team
- [x] Receive new headshot

[2016-05-04 19:01] awarehouse opened #79 "QA Issues"
This ticket is for all of the QA bugs / problems that Samya finds.

**Sample Page**
- [ ] Issue

[2016-05-04 19:25] samyabehary commented on #79
Hey Arista - As discussed, here are the different pages that list the word "Enroll" or "Register."

**HOME:**
- [x] Header Button - Register Now
- [x] Under "See How It Works" - Now **Registering** Admitted Students
- [x] Congratulations to all who were matched in the D.C. Lottery! Secure your spot now by **registering** today. CTA = Register now >>
- [x] Footer Button - Enroll Now

[2016-05-05 14:33] #79 closed

[2016-05-05 14:33] #73 closed

[2016-05-05 14:33] #37 closed

[2016-05-10 18:56] alxmrtnz opened #80 "User Guide - News/Blog Screenshots"
<img width="256" alt="screen shot 2016-05-10 at 2 39 50 pm" src="https://cloud.githubusercontent.com/assets/1167326/15158607/b69d3e24-16be-11e6-98c3-6b53a68d631a.png">
<img width="393" alt="screen_shot_2016-05-10_at_2_51_58_pm" src="https://cloud.githubusercontent.com/assets/1167326/15158645/e1889dae-16be-11e6-9b7e-fb3979cd103f.png">
<img width="772" alt="screen_shot_2016-05-10_at_2_53_22_pm" src=

[2016-05-11 15:04] alxmrtnz opened #81 "User Guide - Logo & Title Screenshots"
<img width="387" alt="screen shot 2016-05-11 at 11 04 10 am" src="https://cloud.githubusercontent.com/assets/1167326/15185667/313407ea-1768-11e6-9fd3-a52e32f1ce51.png">

[2016-05-11 15:23] alxmrtnz opened #82 "User Guide - Address Screenshots"
<img width="1015" alt="screen shot 2016-05-11 at 11 23 24 am" src="https://cloud.githubusercontent.com/assets/1167326/15186371/ce5ef71c-176a-11e6-8edf-9c69512b26f1.png">

[2016-05-11 15:29] alxmrtnz opened #83 "User Guide - Contact Email/Phone Screenshots"
<img width="379" alt="screen shot 2016-05-11 at 11 29 01 am" src="https://cloud.githubusercontent.com/assets/1167326/15186587/9ff3f4f8-176b-11e6-83c2-97df70eeadcb.png">

[2016-05-11 15:48] alxmrtnz opened #84 "User Guide - Social Accounts Screenshots"
<img width="373" alt="screen shot 2016-05-11 at 11 47 20 am" src="https://cloud.githubusercontent.com/assets/1167326/15187213/3ec4e3d8-176e-11e6-8ddc-ade44eb5489b.png">

[2016-05-16 20:33] alxmrtnz opened #85 "User Guide - Navigation Screenshots"
<img width="629" alt="screen shot 2016-05-16 at 4 33 36 pm" src="https://cloud.githubusercontent.com/assets/1167326/15303062/f898731a-1b83-11e6-9d70-b1bb7892c5f0.png">

[2016-05-16 21:16] alxmrtnz opened #86 "User Guide - Navigation Screenshots"
<img width="262" alt="screen shot 2016-05-16 at 5 13 16 pm" src="https://cloud.githubusercontent.com/assets/1167326/15304115/88af0338-1b89-11e6-9168-f674e8ce0625.png">

<img width="583" alt="screen shot 2016-05-16 at 5 13 46 pm" src="https://cloud.githubusercontent.com/assets/1167326/15304124/93fee3d4-1b89-11e6-9dab-ff32afc6e002.png">

[2016-05-18 15:52] alxmrtnz opened #87 "User Guide - Resolve "Description""
@heyitsolivia creating this issue for you to check out the Description section of the user guide and whether it's for SEO purposes or if we can/should remove it.

Here's a link to the section in the user guide:
https://github.com/washington-leadership-academy/wla/wiki/Description

[2016-05-18 16:01] alxmrtnz opened #88 "User Guide - Media Banner Image Screenshots"
<img width="262" alt="screen shot 2016-05-18 at 12 00 52 pm" src="https://cloud.githubusercontent.com/assets/1167326/15365945/339612de-1cf0-11e6-9511-cf670908a251.png">

[2016-05-18 16:14] alxmrtnz opened #89 "User Guide - Editing Custom Hero (Homepage Only) Screenshots"
<img width="1419" alt="screen shot 2016-05-18 at 12 13 49 pm" src="https://cloud.githubusercontent.com/assets/1167326/15366369/00dcf298-1cf2-11e6-8ee4-ae76b39eb0d3.png">

[2016-05-18 16:42] alxmrtnz opened #90 "User Guide - Components Screenshots"
<img width="954" alt="screen shot 2016-05-18 at 12 41 45 pm" src="https://cloud.githubusercontent.com/assets/1167326/15367203/fb818756-1cf5-11e6-974b-bcc5910c626c.png">

[2016-05-18 16:49] alxmrtnz opened #91 "User Guide"
The following is are the pages of the user guide that still need to be completed before Tuesday:

- [ ] - Summary Block
- [ ] - Button Block
- [ ] - Icons Block (Homepage Only)
- [ ] - Media Highlights
- [ ] - Feature Block
- [ ] - Text Highlights
- [ ] - Image Highlights
- [ ] - Image Gallery
- [ ] - Team Block
- [ ] - Quote Block
- [ ] - Call to Action
- [ ] - Text

[2016-05-24 13:33] alxmrtnz opened #92 "User Guide - Component Screenshots"
<img width="1427" alt="screen shot 2016-05-24 at 9 28 17 am" src="https://cloud.githubusercontent.com/assets/1167326/15505688/8372e81c-2192-11e6-87d2-f68f2048514e.png">

[2016-05-24 14:24] awarehouse commented on #91
@alxmrtnz @heyitsolivia We also need the Page Layout and Description added.

[2016-05-24 16:18] heyitsolivia commented on #92
<img width="1134" alt="screen shot 2016-05-24 at 10 57 22 am" src="https://cloud.githubusercontent.com/assets/1198350/15508697/768969a8-219e-11e6-81f2-11bfe786b16a.png">

<img width="786" alt="screen shot 2016-05-24 at 11 00 29 am" src="https://cloud.githubusercontent.com/assets/1198350/15508762/c4e6cc08-219e-11e6-9339-6cea4bd570c3.png">
<img width="775" alt="screen shot 2016-05-24 at 11 00 20 am"